<h1>Interesting people</h1>

<div ng-app="app">
  <div ng-controller="peopleCtrl" ng-init="setup()">
    Search: <input ng-model="nameFilter">
    <div>
      <button ng-click="changeOrderAttribute('name')">Order by name</button>
      <button ng-click="changeOrderAttribute('bio')">Order by bio</button>
    </div>
    <div ng-repeat="person in people | filter: {name: nameFilter} | orderBy:orderAttribute:isOrderDescending">
      <h2 ng-click="toggleBioVisible(person)">{{ person.name }}</h2>
      <p ng-class="{strike: person.bioVisible}">{{ person.bio }}</p>
      <a href="#" ng-click="deletePerson(person)">Delete</a>
    </div>
    <h4>Total number of people: {{ people.length }}</h4>
    <h4>Add person</h4>
    <ul>
      <li ng-repeat="error in errors">{{ error }}</li>
    </ul>
    <div>
      <label>Name: </label>
      <input ng-model="newPersonName">
      <label>Bio: </label>
      <input ng-model="newPersonBio">
      <button ng-click="addPerson(newPersonName, newPersonBio)">Add Person</button>
    </div>
  </div>
</div>
