<h1>Interesting people</h1>

<div ng-app="app">
  <div ng-controller="peopleCtrl">
    <div ng-repeat="person in people">
      <h2 ng-click="toggleBioVisible(person)">{{ person.name }}</h2>
      <p ng-if="person.bioVisible">{{ person.bio }}</p>
    </div>
  </div>
</div>
